*{
    margin: 0;
}
h1{
    background-color: #007BFF;
    width: 100%;
    margin: 0;
    padding: 30px;
    color: white;
    margin-bottom: 10vh;
    text-align: center;
}
div{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 180%;
}