html{
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
head{
    background-color: #007BFF;
    width: 100%;
}

h1{
    margin-top: 0;
    text-align: center;
    background-color: #007BFF;
    color: white;
    width: 100%;
    line-height: 90px;
    padding: 10px;
    border: 0px;
    
}
h2{
    text-align: center;
    
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: large;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px;
}
button:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
}


a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
}