html{
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
head{
    background-color: #007BFF;
}

h1{
    text-align: center;
    background-color: #007BFF;
    width: 100%;
    line-height: 120px;
    padding-top: 80px;
    margin-top: 0px;
    border: 0px;
    align-self:flex-start;
}
h2{
    text-align: center;
    margin-top: 30px;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
}

button {
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: large;
    border-radius: 5px;
    font-weight: bold;
}
button:hover{
    background-color: antiquewhite;
    
}


a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    border: 0.2px solid black;
    border-radius: 5px;
}

