html{
    margin:0;
}
body {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-top: 0;
    text-align: center;
    background-color: #007BFF;
    width:100%;
    padding: 35px;
    text-align: center;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    font-size: larger;
    font-weight: bold;
}

button {
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: large;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 80px;
}
button:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
}

textarea{
    width: 400%;
    height: 10vh;
    padding: 20px;
    margin-bottom: 20px;
}


a{
    font-size:x-large;
}

a:hover{
    transform: scale(1.2);
}