* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

h1,h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

h1 {
    color: white;
}

h2{
    font-size: 2em;
}

a {
    font-size: 1.5em;
    padding: 0.2em;
    transition: transform 0.2s ease, font-size 0.2s ease;
}

a:hover {
    font-size: 2em;
    transform: scale(1.5);
}

ul, li {
    list-style-type: none;
}

li {
    font-size: 1em;
    padding: 0.5em;
    margin: 0px 30px;
    padding: 10px 0px;
}

#container {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

#felso_sor {
    background-color: #007BFF;
    width: 100%;
    height: 15vh;
    padding: 10px;
}

#welcomeUpload{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-top: 20px;
}

#logout{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
}

#articles {
    display: flex;
    flex-direction: column;
    background-color: rgba(173, 216, 230, 0.5);
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    height: 85vh;
    width: 100vw;
    margin-top: 10px;
}

img {
    width: 30px;
    height: 25px;
}