<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}">
</head>
<body>
    <div id="container">
        <div id="felso_sor">

            <p id="vissza"><a href="{{ url_for('news_portal') }}"><img src="{{ url_for('static', filename='/Images/logout_icon.jpg') }}" alt="Logout Image"></a></p>

            <h1>{{ article['title'] }}</h1>

            <p>By: {{ session['username'] }}</p>

            
        </div>
        <div id="kozepso_content">
            <p>{{ article['content'] }}</p>
        </div>
    </div>
</body>
</html>
