<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='banned_account.css') }}">
</head>
<body>
    <h1>Ez a fiók zárolva lett</h1>
    <div class="container">Sajnos ez a fiók zárolva lett, a hamis hírek vagy téves információk terjesztése miatt. Panasz benyújtása vagy a support felkeresése teljesen felesleges a döntés abszolút és vissza nem vonható. Sajnáljuk.  </div>

</body>
</html>