<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <script src="{{ url_for('static', filename='javascript/popup.js') }}"></script>
</head>
<body>
    <div class="container">

        <div id="popup" class="popup-overlay" style="display: none;">
            <div class="popup-content">
                <p>Sikeres Kijelentkezés!</p>
            </div>
        </div>

        <header>
            <nav>
                <ul>
                    <li><a href="#home">Friss hírek</a></li>
                    <li><a href="#about">Felkapott cikkek</a></li>
                    <li><a href="{{ url_for('login') }}">Bejelentkezés</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="content">
                <div>
                    <table>
                        <tr>
                            <td>Az első számú hírportál, ahol felhasználóinknak naprakész információkat nyújtunk a világ minden pontjáról.</td>
                            <td> <img src="{{url_for ('static', filename='/Images/news.jpg')}}" width="1000", height="500"> </td>
                        </tr>

                    </table>
                </div>

            </section>
        </main>

        <footer>
            <p>© 2024 Minden jog fenntartva.</p>
        </footer>

    </div>
</body>
</html>
