<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation and Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <h1>Account Management</h1>

    <!-- üzenet megjelenítő -->
 <!--   {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        -->
    <!-- bejelentkezési űrlap -->
    <div id="container">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="login-username">Username</label>
        <input type="text" id="login-username" name="username" required>
        <br>
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="password" required>
        <br>
        <button  type="submit", class="loginbutton">Login</button>
        <h3>You don't have an account?</h3>
        <a href="{{ url_for('create_account_page') }}">Create Account</a>
        
    </form>
    </div>
</body>
</html>
