<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>News Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
    <script src="{{ url_for('static', filename='javascript/logout.js') }}"></script>
</head>
<body>
    <div id="container">

        <div id="felso_sor">
            <div id="welcomeUpload">
                <h1>Welcome to the News Portal, {{ session['username'] }}!</h1>

                <p><a href="{{ url_for('upload_article') }}">Upload a new article</a></p>
            </div>

                <p><a href="{{ url_for('logout') }}" id="logout" onclick="logout(event)"><img src="{{ url_for('static', filename='/Images/logout_icon.jpg') }}" alt="Logout Image"></a></p>
        </div>

        <div id="popup" class="popup-overlay" style="display:none;">
            <div class="popup-content">
                <p>Kijelentkeztél!</p>
            </div>
        </div>

        <div id="articles">
            <h2>Articles</h2>
            <ul>
                {% for article in articles %}
                    <li><a href="{{ url_for('article', article_id=article['id']) }}">{{ article['title'] }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
</body>
</html>